parameters:
    level: 6
    paths:
        - src
    scanFiles:
        - tests/StaticAnalysis/glpi-stubs.php
        - tests/StaticAnalysis/glpi-http-stubs.php
    tmpDir: .phpunit.cache/phpstan
    excludePaths:
        analyse:
            - src/Install/*
